.login-container{
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #94e35b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #94e35b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 30rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    border-radius: 10px;
    color: white;
}

.input{
    margin-bottom: 1rem;
}

.login-button{
    margin-top: 2rem;
}

.login-info{
    font-size: 2rem;
    text-align: center;
}

.change-type-login{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.navbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-primary{
    background-color: #0078e0;
}

.text-link{
    text-decoration: none !important;
    color: white
}

.text-link:hover{
    color: #d5fafa;
}

